@font-face {
    font-family: "Kumbh sans";
    src: url("../fonts/kumbhsans-bold-webfont.woff") format("woff"), url("../fonts/kumbhsans-bold-webfont.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Kumbh sans";
    src: url("../fonts/kumbhsans-light-webfont.woff") format("woff"), url("../fonts/kumbhsans-light-webfont.woff2") format("woff2");
    font-weight: light;
}

@font-face {
    font-family: "Kumbh sans";
    src: url("../fonts/kumbhsans-regular-webfont.woff") format("woff"), url("../fonts/kumbhsans-regular-webfont.woff2") format("woff2");
    font-weight: regular;
}