-
    var bds = [
        {
            id: '001',
            type: 'bede',
            title: 'Peau d\'homme',
            tomeTitle: '',
            tomeNumber: '',
            pTomeNumber: '',
            author: 'Zanzim et Hubert',
            year: '2020',
            editor: 'Glénat',
            image: 'images/peaudhomme.jpg',
            imageAlt: 'Couverture de la bande dessinée \"Peau d\'homme\"',
            abstract: 'Sans contrefaçon, je suis un garçon !  Dans l\'Italie de la Renaissance, Bianca, demoiselle de bonne famille, est en âge de se marier. Ses parents lui trouvent un fiancé à leur goût : Giovanni, un riche marchand, jeune et plaisant. Le mariage semble devoir se dérouler sous les meilleurs auspices même si Bianca ne peut cacher sa déception de devoir épouser un homme dont elle ignore tout. Mais c\'était sans connaître le secret détenu et légué par les femmes de sa famille depuis des générations : une \"peau d\'homme\" ! En la revêtant, Bianca devient Lorenzo et bénéficie de tous les attributs d\'un jeune homme à la beauté stupéfiante. Elle peut désormais visiter incognito le monde des hommes et apprendre à connaître son fiancé dans son milieu naturel. Mais dans sa peau d\'homme, Bianca s\'affranchit des limites imposées aux femmes et découvre l\'amour et la sexualité.  La morale de la Renaissance agit alors en miroir de celle de notre siècle et pose plusieurs questions : pourquoi les femmes devraient-elles avoir une sexualité différente de celle des hommes ? Pourquoi leur plaisir et leur liberté devraient-ils faire l\'objet de mépris et de coercition ? Comment enfin la morale peut-elle être l\'instrument d\'une domination à la fois sévère et inconsciente ?  À travers une fable enlevée et subtile comme une comédie de Billy Wilder, Hubert et Zanzim questionnent avec brio notre rapport au genre et à la sexualité… mais pas que. En mêlant ainsi la religion et le sexe, la morale et l\'humour, la noblesse et le franc-parler, Peau d\'homme nous invite tant à la libération des mœurs qu\'à la quête folle et ardente de l\'amour.',
            url: 'peauDhomme.html',
            preview: 'peauDhommePreview.html'
        },
        {
            id: '002',
            type: 'bede',
            title: 'Thérapie de groupe',
            tomeTitle: 'L\'étoile qui danse',
            tomeNumber: '1',
            pTomeNumber: '- N° 1',
            author: 'Manu Larcenet',
            year: '2020',
            editor: 'Dargaud',
            image: 'images/therapie.jpg',
            imageAlt: 'Couverture de la bande dessinée \"Thérapie de groupe\"',
            abstract: '\"Thérapie de Groupe\" met en scène de façon éblouissante un auteur de bande dessinée à la recherche de l\'inspiration. Dans une quête inlassable il parcourt l\'univers de la création. Il remonte l\'Histoire, fait appel aux plus grands peintres, interpelle Boileau, Nietzsche ou Dieu Lui-même. Faire rimer humour et désarroi n\'est pas à la portée de tous les poètes. Avec cet album drôle et émouvant, cultivé et percutant, c\'est pourtant l\'exploit que réalise l\'auteur. Ce voyage aux sources de la création est l\'occasion pour le lecteur de constater l\'extraordinaire talent graphique de Larcenet et l\'ampleur de sa palette. Mais aussi d\'entrevoir la douleur d\'un artiste se cognant aux murs de l\'incompréhension et de la solitude. Au bout du voyage, à chaque fois, l\'impasse de la souffrance. Avec une lucidité féroce, l\'auteur ne s\'épargne jamais et dépeint de façon poignante un artiste à la dérive. Sauf que cet artiste, Manu Larcenet, est aussi le maître de l\'autodérision. Et qu\'il réussit à rendre chaque dessin, chaque page, chaque échec, aussi hilarant que bouleversant. Face à l\'angoisse de la création, sans artifice ni dissimulation, il se met à nu dans une exploration d\'une richesse et d\'une profondeur rare et d\'une vérité souvent déchirante. Et d\'une drôlerie surprenante. Dialogues ciselés, mise en scène au cordeau, dessin incroyablement abouti, le dernier avatar d\'une oeuvre originale et dense, \"Thérapie de Groupe\" enchantera évidemment la cohorte des fidèles de Larcenet. Et sera un vrai choc pour ceux qui le découvrent.',
            url:'therapie.pug',
            preview: 'therapiePreview.html'
        },
        {
            id: '003',
            type: 'bede',
            title: 'Moi ce que j\'aime c\'est les monstres',
            tomeNumber: '1',
            tomeTitle: 'Livre premier',
            pTomeNumber: '- N°1',
            author: 'Emil Ferris',
            year: '2018',
            editor: 'Monsieur Toussaint Louverture',
            image: 'images/monstres.jpg',
            imageAlt: 'Couverture de la bande dessinée \"Moi ce que j\'aime c\'est les monstres\"',
            abstract: 'Chicago, fin des années 1960. Karen Reyes, dix ans, adore les fantômes, les vampires et autres morts-vivants. Elle s\'imagine même être un loup-garou: plus facile, ici, d\'être un monstre que d\'être une femme. Le jour de la Saint-Valentin, sa voisine, la belle Anka Silverberg, se suicide d\'une balle en plein cœur. Mais Karen n\'y croit pas et décide d\'élucider ce mystère. Elle va vite découvrir qu\'entre le passé d\'Anka dans l\'Allemagne nazie, son propre quartier prêt à s\'embraser et les secrets tapis dans l\'ombre de son quotidien, les monstres, bons ou mauvais, sont des êtres comme les autres, ambigus, torturés et fascinants. Journal intime d\'une artiste prodige, Moi, ce que j\'aime, c\'est les monstres est un kaléidoscope brillant d\'énergie et d\'émotions, l\'histoire magnifiquement contée d\'une fascinante enfant. Dans cette œuvre magistrale, tout à la fois enquête, drame familial et témoignage historique, Emil Ferris tisse un lien infiniment personnel entre un expressionnisme féroce, les hachures d\'un Crumb et l\'univers de Maurice Sendak. À travers ce livre, Emil Ferris tisse de courage, de force, de résilience, l\'étendard de ceux qui survivent, de ceux qui se relèvent et ne veulent plus se taire. Et si ce n\'est pas œuvre autobiographique tout y est néanmoins vrai. La clé de ce projet est la différence, et Emil Ferris l\'a écrit pour les minorités, l\'a dessinée pour la liberté d\'être ce que l\'on veut, humainement et intimement, et l\'a porté envers et contre tout pour le droit d\'être la femme que l\'on veut. Et c\'est pour ça que Moi, ce que j\'aime, c\'est les monstres nous frappe si fort aujourd\'hui, car il s\'adresse à nous, à nos problèmes, à notre monde.',
            url: 'monstres.html',
            preview: 'monstresPreview.html'
        },
        {
            id: '004',
            type: 'bede',
            title: 'L\'arabe du futur',
            tomeNumber: '4',
            tomeTitle: 'Une jeunesse au Moyen-Orient (1987-1992)',
            pTomeNumber: '- N°4',
            author: 'Riad Sattouf',
            year: '2019',
            editor: 'Alary Editions',
            image: 'images/arabeFutur.png',
            imageAlt: 'Couverture de la bande dessinée \"L\'Arabe du futur\"',
            abstract: 'Ce quatrième tome du succès mondial L\'Arabe du futur couvre les années 1987-1992. Âgé de neuf ans au début de ce volume, le petit Riad devient adolescent. Une adolescence d\'autant plus compliquée qu\'il est tiraillé entre ses deux cultures – française et syrienne – et que ses parents ne s\'entendent plus. Son père est parti seul travailler en Arabie saoudite et se tourne de plus en plus vers la religion… Sa mère est rentrée en Bretagne avec les enfants, elle ne supporte plus le virage religieux de son mari. C\'est alors que la famille au complet doit retourner en Syrie… Dans le premier tome (1978-1984), le petit Riad était ballotté, de sa naissance à ses six ans, entre la Libye de Kadhafi, la Bretagne de ses grands-parents et la Syrie de Hafez Al-Assad. Le deuxième tome (1984-1985) racontait sa première année d\'école en Syrie. Le troisième tome (1985-1987) était celui de sa circoncision. Ce quatrième tome, exceptionnel par son format (288 pages) et par ce qu\'il révèle (le coup d\'État de son père), est le point d\'orgue de la série.',
            url: 'arabeFutur.html',
            preview: 'arabeFuturPreview.html'
        },
        {
            id: '005',
            type: 'bede',
            title: 'Les sentiments du Prince Charles',
            tomeTitle: '',
            tomeNumber: '',
            pTomeNumber: '',
            author: 'Liv Strömquist',
            year: '2010',
            editor: 'Rackham',
            image: 'images/sentiments.jpg',
            imageAlt: 'Couverture de la bande dessinée \"Les sentiments du Prince Charles\"',
            abstract: 'Lors d\'une conférence de presse après ses fiançailles avec Diana, le prince Charles dut répondre à la question : \"Êtes-vous amoureux ?\" Après une petite hésitation, il répondit : \"Oui… Quel que soit le sens du mot amour\". Or, en lisant la presse people quelques années plus tard, on constata que de toute évidence Charles et Diana n\'attribuaient pas du tout le même sens au mot \" amour \"… En feuilletant les mêmes magazines, on pouvait aussi se demander comment Whitney Houston avait pu tomber amoureuse d\'un sale type comme Bobby Brown, et de remarquer au passage qu\'en matière d\'amour, le bonheur de l\'un ne fait pas forcement celui de l\'autre. \"Qu\'est-ce donc que l\'amour ?\" Forte du constat que les déconvenues sentimentales sont loin d\'être l\'apanage exclusif de quelques chanteuses ou têtes couronnées, Liv Strömquist mène sa réflexion sur le pourquoi du comment de la relation amoureuse. Ainsi, les moindres faits et gestes de Charles, Diana, Whitney, Bobby Brown (et d\'une foule de philosophes, écrivains et hommes politiques qui peuplent les pages de Les sentiments du Prince Charles) se mêlent à des faits historiques ou à des situations tirées du quotidien. À force d\'exemples choisis, Liv Strömquist démontre méthodiquement qu\'en amour, les rôles et les comportements de chacun sont loin d\'être des données de fait inhérentes à une nature humaine immuable. En replaçant les liaisons sentimentales dans leur contexte socio-culturel, elle invite à reconsidérer la relation amoureuse autrement que selon la norme hétérosexuelle-monogame. En refermant Les sentiments du Prince Charles, nous en sauront certainement un peu plus sur le pourquoi Charles a quitté Diana et Whitney est tombée amoureuse de Bobby Brown mais, plus important encore, nous ne regarderons plus du même œil notre vie de couple.',
            url: 'sentiments.html',
            preview: 'sentimentsPreview.html'
        }
    ]