.home{

    &__block{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &__text{
        box-sizing: border-box;
        flex-grow: 2;
        flex-shrink: 1;
        max-width: 70%;
    }

    &__img{
        box-sizing: border-box;
        flex-grow: 1;
        flex-shrink: 2;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 1.2rem;
    }
}
        
