include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Mon compte','')
    body.body
        +nav('account.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script