include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Gestions des achats','')
    body.body
        +nav('acquisition.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script