include mixins/_utils.pug
//- Inclusion des includes pour accéder au tableau qui contient les données
include includes/_bds.pug

doctype html
html(lang="fr")
    +head('L\'arabe du futur','')
    body.body
        +header('')
        +jumbotron
        each bd in bds
            if bd.id == '004'
                +preview(bd.title, bd.tomeTitle, bd.pTomeNumber, bd.author, bd.year, bd.editor, bd.image, bd.imageAlt, bd.abstract)
        +footerCustomers
        +script