include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Saisie des ouvrages','')
    body.body
        +nav('books.html')
        +book('', '006', '', '', '', '', '', '', '', '', 'emptyPreview.html')
        +footer
        +script