include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Prets/Retours','')
    body.body
        +nav('borrowings.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script