include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Emprunter','')
    body.body
        +header('borrow.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script