include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Se connecter','')
    body.body
        +header('connectionLec.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script