include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('S\'inscrire','')
    body.body
        +header('createAccount.html')
        .container
            h1.title__construction Page en construction
        +footer
        +script