include mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Prévisualisation','')
    body.body
        +header('')
        +jumbotron
        +preview('','', '', '', '', '', '', '', '')
        +footerCustomers
        +script