//- Inclusion des mixins pour pouvoir les utiliser dans la page
include mixins/_utils.pug
//- Inclusion des includes pour accéder au tableau qui contient les données
include includes/_bds.pug

doctype html
html(lang="fr")
    +head('Modification d\'une notice','')
    body.body
        +nav('')
        each bd in bds
            if bd.id == '001'
                +book(bd.title, bd.id, bd.omeTitle, bd.tomeNumber, bd.author, bd.year, bd.editor, bd.image, bd.imageAlt, bd.abstract, bd.preview)
        +footer
        +script