// import classes bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// import des utils
@import 'utils/fonts';
@import 'utils/colors';
@import 'utils/background';

// import des components
@import 'components/title';
@import 'components/button';

// immport des blocks
@import 'blocks/home';
@import 'blocks/calendar';



.active{
    font-weight: bold;
}

.body{
    font-family: "kumbh sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bigger-cross{
    font-size: 1.5em;
}

.card-box{
    min-width: 303px;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer{
    margin-top: auto;
}

.hide{
    display: none;
}

html{
    height: 100%;
}

.icon{
    width: 80px;
}

.img--responsive{
    max-width: 100%;
    max-height: 500px;
    display: block;
}

.img--modal{
    max-width: 100%;
}

.img--responsive--2{
    max-width: 100%;
    max-height: 200px;
}

.jumbotron--green{
    background-color: $green-opac;
}

.list-group--size{
    font-size: 16px;
    width: 350px;
}

.logo{
    max-width: 100%;
    max-height: 5rem;
    display: block;
}

.police-bigger{
    font-size: 2em;
}

.p--bold{
    font-weight: bold;
}

.slider a{
    text-decoration: none;
    color: white;
    font-weight: bold;

    :hover{
        color: white;
    }
}

td a svg:hover {
    fill: #024dbc;
}

nav{
    font-size: 1.2rem;
}